Homework 4 using pandas

In [7]:
import pandas as pd

df = pd.read_csv("/workspaces/data_3500_code/week10/content_videos/TSLA_2024-2025.csv")
df.head()

         Date Close/Last     Volume      Open      High       Low
0  10/23/2025   $448.98   126709800  $420.00   $449.40   $413.90
1  10/22/2025   $438.97    84023460  $443.45   $445.54   $429.00
2  10/21/2025   $442.60    54412170  $445.76   $449.30   $442.05
3  10/20/2025   $447.43    63718970  $443.87   $449.80   $440.61
4  10/17/2025   $439.31    89331580  $425.50   $441.46   $423.60

In [8]:
# Sort the DataFrame so that oldest date comes first
df = df.iloc[::-1].reset_index(drop=True)

# setting up moving average
df["Close/Last"] = df["Close/Last"].replace('[$]', '', regex=True).astype(float)

df["Moving_Avg"] = df["Close/Last"].shift(1).rolling(window=5).mean()

# for date in df["Date"]:
#     print(date)

df

,Date,Close/Last,Volume,Open,High,Low,Moving_Avg
0,10/23/2024,213.65,80938890,$217.13,$218.72,$212.11,NaN
1,10/24/2024,260.48,204491900,$244.68,$262.12,$242.65,NaN
2,10/25/2024,269.19,161611900,$256.01,$269.49,$255.32,NaN
3,10/28/2024,262.51,107653600,$270.00,$273.54,$262.24,NaN
4,10/29/2024,259.52,80521750,$264.51,$264.98,$255.51,NaN
...,...,...,...,...,...,...,...
246,10/17/2025,439.31,89331580,$425.50,$441.46,$423.60,428.506
247,10/20/2025,447.43,63718970,$443.87,$449.80,$440.61,433.670
248,10/21/2025,442.60,54412170,$445.76,$449.30,$442.05,435.976
249,10/22/2025,438.97,84023460,$443.45,$445.54,$429.00,438.648
250,10/23/2025,448.98,126709800,$420.00,$449.40,$413.90,439.412

In [11]:
# comparing moving avg 

buy          = 0
first_buy    = 0
total_profit = 0

for i in range(len(df)):
    current_price   = df.loc[i, "Close/Last"]
    moving_avg      = df.loc[i, "Moving_Avg"]

    if current_price < (moving_avg  * 0.98) and buy == 0: #0.98 for 21 # 0.96 for 22
            print("buying at: ", "\t", round(current_price, 3), "iteration", i)
            buy = current_price
            if first_buy == 0:
                first_buy = buy
    elif current_price > (moving_avg * 1.02) and buy != 0: #1.02 for 21 #1.04 for 22
        print("selling at: ", "\t", round(current_price, 3))
        trade_profit = current_price - buy
        print("trade profit: ", "\t", round(trade_profit, 2))
        total_profit += trade_profit
        buy = 0
    else:
        pass #do nothing

buying at:  	 249.85 iteration 6
selling at:  	 288.53
trade profit:  	 38.68
buying at:  	 311.18 iteration 16
selling at:  	 338.74
trade profit:  	 27.56
buying at:  	 332.89 iteration 25
selling at:  	 357.09
trade profit:  	 24.2
buying at:  	 436.17 iteration 40
selling at:  	 462.28
trade profit:  	 26.11
buying at:  	 431.66 iteration 45
selling at:  	 428.22
trade profit:  	 -3.44
buying at:  	 412.38 iteration 61
selling at:  	 355.84
trade profit:  	 -56.54
buying at:  	 337.8 iteration 81
selling at:  	 249.98
trade profit:  	 -87.82
buying at:  	 225.31 iteration 98
selling at:  	 248.71
trade profit:  	 23.4
buying at:  	 263.55 iteration 106
selling at:  	 282.76
trade profit:  	 19.21
buying at:  	 239.43 iteration 111
selling at:  	 272.2
trade profit:  	 32.77
buying at:  	 241.55 iteration 119
selling at:  	 250.74
trade profit:  	 9.19
buying at:  	 275.35 iteration 132
selling at:  	 298.26
trade profit:  	 22.91
buying at:  	 334.62 iteration 143
selling at:  	 362.89
trade profit:  	 28.27
buying at:  	 342.69 iteration 150
selling at:  	 326.09
trade profit:  	 -16.6
buying at:  	 316.35 iteration 161
selling at:  	 348.68
trade profit:  	 32.33
buying at:  	 323.63 iteration 168
selling at:  	 309.87
trade profit:  	 -13.76
buying at:  	 305.3 iteration 186
selling at:  	 319.91
trade profit:  	 14.61
buying at:  	 329.31 iteration 204
selling at:  	 340.01
trade profit:  	 10.7
buying at:  	 333.87 iteration 212
selling at:  	 350.84
trade profit:  	 16.97
buying at:  	 429.83 iteration 236
selling at:  	 453.25
trade profit:  	 23.42
buying at:  	 433.09 iteration 238
selling at:  	 439.31
trade profit:  	 6.22

In [12]:
final_profit_percentage = ( total_profit / first_buy ) * 100    

print("-----------------------")
print("Total profit: ", "\t", round(total_profit, 2))
print("First buy: ", "\t", first_buy)
print("% return: ", "\t", round(final_profit_percentage, 2))

-----------------------
Total profit:  	 178.39
First buy:  	 249.85
% return:  	 71.4